*.dll           binary
*.so            binary
*.dat           binary
*.fits          binary
*.fit           binary
*.xisf          binary
*.7z            binary

*.txt           text eol=lf
*.md            text eol=lf
*.json          text eol=lf
